<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
    
=======
>>>>>>> 5650f6e46d0c27907a3d01d5377dab9e0f25a5d4
    <title>ממליץ הסרטים החכם</title>

    <!-- CSS לפי דפים -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/movieDetails.css">
    <link rel="stylesheet" href="/css/recommendations.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/video.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/chat.css">

    <!-- סקריפטים (אם יש לך chat.js או אחרים) -->
    <script src="/script/chat.js" defer></script>
    <!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>



    <!-- <link rel="stylesheet" href="/css/style.css"> -->
