<head>
    <meta charset="UTF-8"> <!-- הגדרת קידוד התווים כ-יו.טי.אף-8 לתמיכה בעברית ותווים מיוחדים -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- התאמת התצוגה למכשירים ניידים -->
    <title>ממליץ הסרטים החכם</title> <!-- כותרת הדף שתופיע בלשונית הדפדפן -->
    
    <link rel="stylesheet" href="/css/style.css"> <!-- קישור לקובץ העיצוב החיצוני -->
</head>
